body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6{
  color : royalblue;
}

.colored-text{
  color : dodgerblue;
  font-weight: bold;
}

.p-0{
  padding : 0px;
}
